body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#debug {
  display: none;
}

#debug-output {
  width: 100%;
  height: 200px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

.grid {
  border: 3px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.grid td:nth-child(3n) {
  border-right-width: 3px;
}

.grid tr:nth-child(3n) td {
  border-bottom-width: 3px;
}

.cell {
  width: 39px;
  height: 39px;
  border: 1px solid black;
  text-align: center;

  /* Disable text highlighting */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.cell:focus {
  outline:none;
}

.gray-box-unit {
  background-color: lightgray;
}

/*
 * Need both selectors so selected cell displays correctly in puzzle and legend.
 * .cell:focus overrides .selected-cell, but not .selected-cell:focus
 */
.selected-cell, .selected-cell:focus {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: lightyellow;
}

.fixed-value-cell {
  font-weight:bolder;
  font-size: 115%;
  outline: none;
}

.highlighted-peer-cell {
  font-size: 200%;
}

.hint-cell {
  background-color: orange;
}

.recently-modified-cell {
  background-color: orange;
}

.contradiction-source-cell {
  background-color: red;
}

.contradiction-cell {
  background-color: lightcoral;
}

#cell-legend .legend-item {
  /* Cells in legend need space to display correctly */
  height: 35px;
}

.legend-value {
  width: 10%;
  float: left;
  text-align: right;
}

.legend-key {
  font-weight: bold;
}

.legend-description {
  width: 85%;
  margin-left: 10px;
  float: left;

  /* Vertical center text in cell legend */
  position: relative;
  top: 15%;
}

.legend-cell {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
}
